html, body {background: white; 
	        font-family: 'Lato', helvetica, arial, sans-serif; 
	        font-size: 16px; 
	        color: #222;;}

.ad {
    background-image: url(icn-ad.gif);
}

.mail {
    background-image: url(icn-mail.gif);
}

.tel {
    background-image: url(icn-tel.gif);
}

.web {
    background-image: url(icn-web.gif);
}

ul li {
    background-repeat: no-repeat;
    padding-left: 26px;
    background-position: 0 .1em;
    height: 25px;
    display: block;
    margin-top: -2px;
}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
}

body {
	width: 90%;
	max-width: 800px;
	background: #f3f3f3;
	margin: 30px auto;
}


#name {
	font-size: 2.5em;
	font-weight: 700;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	margin-bottom: -25px;
}

#job {
	font-size: 2em;
	margin-left: 2px;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

#personPic {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#personPic img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#begInfo {
	float: left;
}

#contactInformation {
	float: right;
}

#contactInformation ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
}

#contactInformation ul li {
	margin-bottom: 3px;
	color: #444;
}

#contactInformation ul li a, a[href^=tel] {
	color: #444; 
}

#contactInformation ul li a:hover { 
	color: #cf8a05;
}

.clear {clear: both;}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.sectionTitle h1 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 1.5em;
	color: #cf8a05;
}

.sectionContent h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;
}

.firstSubDetails {
	font-size: 0.9em;
	font-style: italic;
	margin-bottom: 3px;
}

.secondSubDetails {
	font-size: 0.7em;
	font-style: italic;
	margin-bottom: 3px;
}

